<div class="container">
    <div class="billingDetails">
        <h2 class="text-center mt-2 font-weight-bold">Mesa #12</h2>
        <div class="bill my-4">
            <img src="assets/images/bill.jpeg" class="img-fluid" >
        </div>
        <div class="subTotal">
            <p>Ingrese Subtotal:</p>
            <input type="text" class="form-control">
            <div class="cb">
                <a routerLink="/table-status"><button class="btn btn-success">Cobrar Mesa #12</button></a>
            </div>
        </div>
    </div>
</div>
