<div class="container">
    <div class="billingScreen">
        <h2 class="text-center mt-2 font-weight-bold">Mesa #12</h2>
        <div class="bill my-4">
            <img src="assets/images/bill.jpeg" class="img-fluid" >
        </div>
        <hr>
        <div class="subtotal">
            <h2>Subtotal</h2>
            <h2>$150</h2>
        </div>
        <h5 class="font-italic">Seleccione Propina:</h5>
        <div class="tip">
            <a href="#"><button class="btn btn-light">$10</button></a>
            <a href="#"><button class="btn btn-light">$15</button></a>
            <a href="#"><button class="btn btn-light">$20</button></a>
            <a href="#"><button class="btn btn-light">otro</button></a>
        </div>
        <div class="total font-weight-bold mt-3">
            <h2 class="font-weight-bold">Total</h2>
            <h2 class="font-weight-bold">$170</h2>
        </div>
        <div class="billBtn">
            <a routerLink="/payment"><button class="btn btn-primary">Ir a Pagar</button></a>
        </div>
    </div>
</div>