<div class="container">
    <div class="successScreen">
        <img src="assets/images/success.png" alt="Success">
        <h3 class="mt-4">Pago Completado <br> Exitosamente</h3>

        <p class="mt-5">Como fue to experiencia en <br> <b>Streat Burger</b> </p>

        <div class="star rating-star">
            <ngx-star-rating [id]="'rating'" ></ngx-star-rating>
        </div>

        <p class="text-start mt-5">Dejanos tus comentarios</p>
        <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Comentarios" rows="3"></textarea>
            <div class="enViar">
                <a routerLink="/thank-you"><button class="btn btn-primary mt-3 px-5">Enviar</button></a>
            </div>
        </div>
    </div>
</div>