<div class="container">
    <div class="payScreen">
        <div class="top">
            <span>Pepper App Co</span>
            <span>Order N 0123456</span>
        </div>
        <h1 class="mt-4 font-weight-bold">170.0 $</h1>
        <h4 class="mt-5">Seleccione medio de pago</h4>
        <div class="row mt-4">
            <div class="col-lg-6 col-md-6 col-6">
                <div class="tile">
                    <a routerLink="/success"><img src="assets/images/Mercadopago-logo.png" class="img-fluid" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-6">
                <div class="tile">
                    <a routerLink="/success"><img src="assets/images/stripe.png" class="img-fluid" alt=""></a>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-6 col-md-6 col-6">
                <div class="tile">
                    <a routerLink="/success"><img src="assets/images/apple-pay.png" class="img-fluid" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-6">
                <div class="tile">
                    <a routerLink="/success"><img src="assets/images/gpay.png" class="img-fluid" alt=""></a>
                </div>
            </div>
        </div>
        <hr class="mt-5">
    </div>
</div>